<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<body>
    <div class="full-body-container">
        <div class="top-text">
            <div class="title-container">
                <div class="title">GetKraken</div>
            </div>
            <div class="input-box" onclick="sendFocus()">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Search for a GitHub Repository" id="filter-text-val" onkeydown="handleKeyPress(event)">
            </div>
            <div class="tag-buttons" id="tag-buttons-container"></div>
        </div>
        <div id="card-container"></div>

    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

    <script>
        // Credit to unescapeJs library
                
        /**
         * \\ - matches the backslash which indicates the beginning of an escape sequence
         * (
         *   u\{([0-9A-Fa-f]+)\} - first alternative; matches the variable-length hexadecimal escape sequence (\u{ABCD0})
         * |
         *   u([0-9A-Fa-f]{4}) - second alternative; matches the 4-digit hexadecimal escape sequence (\uABCD)
         * |
         *   x([0-9A-Fa-f]{2}) - third alternative; matches the 2-digit hexadecimal escape sequence (\xA5)
         * |
         *   ([1-7][0-7]{0,2}|[0-7]{2,3}) - fourth alternative; matches the up-to-3-digit octal escape sequence (\5 or \512)
         * |
         *   (['"tbrnfv0\\]) - fifth alternative; matches the special escape characters (\t, \n and so on)
         * |
         *   \U([0-9A-Fa-f]+) - sixth alternative; matches the 8-digit hexadecimal escape sequence used by python (\U0001F3B5)
         * )
         */
        const jsEscapeRegex = /\\(u\{([0-9A-Fa-f]+)\}|u([0-9A-Fa-f]{4})|x([0-9A-Fa-f]{2})|([1-7][0-7]{0,2}|[0-7]{2,3})|(['"tbrnfv0\\]))|\\U([0-9A-Fa-f]{8})/g;

        const usualEscapeSequences = {
            '0': '\0',
            'b': '\b',
            'f': '\f',
            'n': '\n',
            'r': '\r',
            't': '\t',
            'v': '\v',
            '\'': '\'',
            '"': '"',
            '\\': '\\'
        };

        const fromHex = (str) => String.fromCodePoint(parseInt(str, 16));
        const fromOct = (str) => String.fromCodePoint(parseInt(str, 8));

        const unescapeJs = (string) => {
            return string.replace(jsEscapeRegex, (_, __, varHex, longHex, shortHex, octal, specialCharacter, python) => {
                if (varHex !== undefined) {
                    return fromHex(varHex);
                } else if (longHex !== undefined) {
                    return fromHex(longHex);
                } else if (shortHex !== undefined) {
                    return fromHex(shortHex);
                } else if (octal !== undefined) {
                    return fromOct(octal);
                } else if (python !== undefined) {
                    return fromHex(python);
                } else {
                    return usualEscapeSequences[specialCharacter];
                }
            });
        }
    </script>

    <script>
        let selectedTags = [];
        const tagList = ['javascript', 'python', 'java', 'typescript', 'csharp', 'cpp', 'php', 'shell', 'c', 'ruby'];


        function buttonTemplate(label, eventHandler) {
        return `<button class="tag-button" onclick="${eventHandler}">
                    ${label}
                </button>`;
        }

        function toggleTagSelection(tag) {
            const button = event.target; 
            const index = selectedTags.indexOf(tag);
            if (index === -1) {
                selectedTags.push(tag);
                button.classList.add('selected'); 
            } else {
                selectedTags.splice(index, 1);
                button.classList.remove('selected'); 
            }
        }


            function generateButtonGrid() {
                let gridHtml = '<div class="button-grid">';
                tagList.forEach((tag) => {
                    gridHtml += buttonTemplate(tag, `toggleTagSelection('${tag}')`);
                });
                gridHtml += '</div>';
                return gridHtml;
            }

            document.getElementById('tag-buttons-container').innerHTML = generateButtonGrid();

            function handleKeyPress(event) {
                        if (event.key == "Enter") {
                            displayCards();
                        }
                    }
            function textRender(markdownText) {
                return marked.parse(unescapeJs(markdownText));
            }            

            function answerCardTemplate(name, desc, similarity) {
                let text = textRender(desc)
                let preview = text.length > 100 ? text.substring(0, 100): text;
                return `<div class="card">
                    <div class="card-content">
                        <h2>${name}</h2>
                        <p>${preview}</p>
                        <p>Similarity: ${similarity}</p>
                    </div>
                    <div class="hidden-content">
                        <p>${text}</p>
                        <a href="https://github.com/${name}" class="card-link" target="_blank">View Repository</a>
                    </div>
                </div>`;}


            function displayCards() {
                document.getElementById("card-container").innerHTML = "";
                if (selectedTags.length === 0) {
                    alert("select atleast ONE language");
                    return;
                }
                fetch("/repo?" + new URLSearchParams(
                    { 
                    repo : document.getElementById("filter-text-val").value,  
                    lang : selectedTags
                    }
                ).toString())
                .then(response => response.json())
                    .then(cardsData => {
                        //TODO: change to for loop for pagenation

                        cardsData.forEach(cardData => {
                            let tempDiv = document.createElement("div");
                            tempDiv.innerHTML = answerCardTemplate(
                                cardData.repo_name, 
                                cardData.readme_raw, 
                                cardData.similarity);
                            document.getElementById("card-container").appendChild(tempDiv);
                        });
                        initializeCards();
                    });
            }



            function initializeCards() {
                const cards = document.querySelectorAll('.card');
                cards.forEach(card => {
                    card.addEventListener('click', function() {
                        cards.forEach(c => {
                        if (c !== this && c.classList.contains('expanded')) {
                            c.classList.remove('expanded');
                            }
                        });
                        this.classList.toggle('expanded');
                    });
                });
            }

            document.addEventListener('DOMContentLoaded', () => {
                initializeCards();
                document.getElementById('tag-buttons-container').innerHTML = generateButtonGrid();
            });


            function sendFocus(){
                document.getElementById('filter-text-val').focus()
            }

            // function filterText(){
            //     document.getElementById("answer-box").innerHTML = ""
            //     console.log(document.getElementById("filter-text-val").value)
            //     fetch("/episodes?" + new URLSearchParams({ title: document.getElementById("filter-text-val").value }).toString())
            //     .then((response) => response.json())
            //     .then((data) => data.forEach(row => {
                    
            //         let tempDiv = document.createElement("div")
            //         tempDiv.innerHTML = answerBoxTemplate(row.title,row.descr,row.imdb_rating)
            //         document.getElementById("answer-box").appendChild(tempDiv)
            //     }));

            // }
                
    </script>
</body>